* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  width: 100%;
}
main {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #cf9aff, #95c0ff);
  padding: 4rem 1rem;
  padding-left: clamp(1rem, 8.5vw, 8rem);
}
main .heading {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
main .heading img {
  width: 50px;
  height: 50px;
}
main .heading h1 {
  color: white;

  font-size: 2.5rem;
}
main .button {
  background: linear-gradient(#9418fd, #571094);
  color: white;
  border: none;
  padding: 1rem 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

main .button img {
  width: 25px;
  height: 25px;
}

main .notes {
  background-color: white;
  width: fit-content;
  padding: 1rem;
  display: flex;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.5rem;
  width: min(500px, 90%);
  margin-bottom: 1rem;
}
main .notes textarea {
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
}

main .notes .delete-button {
  background-image: url(./images/delete.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  cursor: pointer;
  background-color: transparent;
  border: none;
  width: 30px;
  height: 25px;
}
